.calendar-container,
.calendar,
.calendar-header,
td,
tr {
    padding: 0;
    margin: 0;
}


nav.navbar {
    border-radius: 0 !important;

}

.addHeader {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bg-dark {
    background-color: #0B3157 !important;
    border-radius: 3px 3px 0 0;
}

.calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;


}

.calendar-header {

    font-size: 1.6em;
    background-color: #0B3157 !important;
    font-family: Montserrat-Bold, sans-serif;
}

.calendar-header td {
    border-spacing: 0;
    padding-left: 5px;
}

.day,
.empty-slot,
.week-day {
    text-align: center;
    height: 40px;

}

.week-day {
    font-size: 0.8em;

}

.day {
    font-size: 0.8em;
}

.card-body {
    background-color: #0B3157 !important;
    color: #fff;
    text-align: center;

}

.day {
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat-Regular, serif;
}

.weekend {

    color: red;
}

.week {
    font-size: 10px;
    text-align: justify-all;
    background-color: #0B3157 !important;
    color: #E6EAEE;


}

.card.card-body.pnlModeSelector {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    border-radius: 0 !important;

}

.btnModeSelector {
    color: #E6EAEE;
    border: 1px solid #E6EAEE;
    border-radius: 30pt;
    opacity: 0.5;
    margin-left: 20px;
    padding: 3px;
    font-size: 14px;
    word-spacing: 4px;
    text-align: center;
    min-width: 20%;
    cursor: pointer;


}

.current-day {
    background-color: #fff;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: #000;

}

.current-day::after {
    content: ".";
    position: relative;
    top: -15px;
    left: -10px;
    color: red;
    font-size: 35px;
    margin: 0;
}

.selected-day {
    background-color: #0B3157;
    max-width: 20px;
    max-height: 20px;
    line-height: 28px;
    border-radius: 2px;
    border: 1px solid cyan;
    color: #fff;
    font-family: Montserrat-Regular, serif;
    font-size: 16px;

}

.nav-month {
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 1;

}

.prev {
    margin-right: 30%;
    cursor: pointer;
    color: #48C1C2;

}

.next {
    cursor: pointer;

    color: #48C1C2;
}

.month-label {
    margin-right: 25%;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
}

.date h2 {
    color: #0B3157;
    font-size: 24px;
}
.event-container{
margin-bottom: 20px;
}
.evens {
    border-radius: 4px;
    background-color: #48C1C2;
    padding: 10px;

}
.name-time{
    display: flex;
    color: #FFF;
    opacity: 0.5;
    justify-content: space-between;

}
.event-body{

    font-weight: bolder;
    color: #FFF;
    opacity: 0.75;
    font-size: 19px;
}

